header {
    @include flex_column;
    @include justalign_center;
    flex-wrap: nowrap;
    width: 100%;
    .header__logo {
        @include flex_row;
        @include justalign_center;
        width: 100%;
        padding: 15px 0;
        img {
            width: 135px;
            height: 25px;
        }
    }
}

main {
    width: 100%;
    .main__header {
        @include flex_column;
        @include justalign_center;
        background-color: #f6f6f6;
        padding: 25px 15px 40px 15px;
        > h1 {
            font-size : 25px;
            font-weight: 500;
            margin: 0;
        }
        > h2 {
            font-size: 16px;
            font-weight: 400;
            font-style: bold;
            opacity: 0.8;
            margin: 20px 0;
        }
    }
}
