// Home Main Footer

header {
    @include flex_column;
    @include justalign_center;
    flex-wrap: nowrap;
    width: 100%;
    .header__logo {
        @include flex_row;
        @include justalign_center;
        width: 100%;
        padding: 15px 0;
        img {
            width: 135px;
            height: 25px;
        }
    }
}

#header {
    position: sticky;
    top:0;
    z-index: 2000;
    background-color: white
}

main {
    @include flex_column;
    width: 100%;
}

#footer {
    @include flex_column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: #3c3c3c;
    padding-left: 20px;
    gap: 20px;
    padding: 20px 0 30px 20px;
    h1 {
        font-family: Shrikhand;
        color:white;
    }
    .footer__text {
        margin-top:30px;
        @include flex_column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5px;
        margin-top:0;
        &__icn {
            font-weight: 500;
        }
    }
    a {
        display: flex;
        flex-wrap: nowrap;
        color: white;
        gap:5px;
        font-weight: 300;
    }
    a:hover {
        color: map-get($color, primary-violet);
    }
    .fa-solid {
        width: 20px;
    }
}

/////////////////////////////////////////
///////////// MEDIA QUERIES /////////////
/////////////////////////////////////////



@media all and (min-width:800px) {
    #footer {
        @include flex_column;
        @include justalign_center;
        align-items: center;
        width: 100%;
        padding: 20px 0 30px 0px;
        .footer__text {
            @include flex_row;
            justify-content: space-between;
            align-items: center;
            width: 80%;
        }
        a {
            gap:10px;
        }
    }
}

@media all and (min-width:1070px) {
    #footer {
        .footer__text {
            width: 70%;
        }
        a {
            gap:15px;
        }
    }
}