@use "../utils/varMix" as *;
////////////////////////////////////////
header {
    @include flex_column;
    @include justalign_center;
    flex-wrap: nowrap;
    width: 100%;
    .header__logo {
        @include flex_row;
        @include justalign_center;
        width: 100%;
        padding: 15px 0;
        img {
            width: 135px;
            height: 25px;
        }
    }
}
main {
    @include flex_column;
    width: 100%;
}
#footer {
    @include flex_column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: #3c3c3c;
    padding-left: 20px;
    gap: 20px;
    padding: 20px 0 30px 20px;
    h1 {
        font-family: Shrikhand;
        color:white;
    }
    .footer__text {
        @include flex_column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5px;
        margin-top:0px;
        &__icn {
            font-weight: 500;
        }
    }
    a {
        display: flex;
        flex-wrap: nowrap;
        color: white;
        gap:10px;
        font-weight: 300;
    }
    .fa-solid {
        width: 20px;
    }
    a:hover {
        color: map-get($color, primary-violet);
    }
}
/////////////////////////////////////////
///////////// MEDIA QUERIES /////////////
/////////////////////////////////////////
@media all and (min-width:800px) {
    #footer {
        @include justalign_center;
        align-items: center;
        .footer__text {
            @include flex_row;
            justify-content: space-between;
            align-items: center;
            width: 80%;
        }
    }
}