// Home Main Footer

header {
    @include flex_column;
    @include justalign_center;
    flex-wrap: nowrap;
    width: 100%;
    .header__logo {
        @include flex_row;
        @include justalign_center;
        width: 100%;
        padding: 15px 0;
        img {
            width: 135px;
            height: 25px;
        }
    }
}
main {
    @include flex_column;
    width: 100%;
    padding: 0 6%;
}

footer {
    margin-top: 10px;
    background-color: rgb(197, 189, 189);
}

