* {
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    @include flex_column;
    margin: 0px;
}

a {
    text-decoration: none;
}

h1 {
    font-size : 25px;
    font-weight: 500;
    margin: 0;
}

h2 {
    font-size: 18px;
    margin:0;
}
h3 {
    font-size: 16px;
    font-weight: 300;
    margin:0;

}