.header__location {
    @include flex_row;
    @include justalign_center;
    width: 100%;
    height: 40px;
    background-color: #eaeaea;
    box-shadow: inset 4px 6px 19px -3px rgba(84, 84, 84, 0.4);
    gap: 5px; //écar texte - icone
    font-size: 14px;
    color: rgb(48, 48, 48);
    //
}
.header_main {
    @include flex_column;
    @include justalign_center;
    background-color: #f6f6f6;
    padding: 25px 15px 40px 15px;
    width: 100%;
    text-align: center;
    > span {
        font-size: 16px;
        font-weight: 400;
        opacity: 0.8;
        margin: 20px 0;
    }
    //
}


////////////////////////////////////////
////////////////////////////////////////

main {
    @include flex_column;

}
aside {
    @include flex_column;
    gap:20px;
    padding: 40px 7% 60px 7%;
}

.aside__helper {
    @include flex_column;
    @include justalign_center;
    padding: 0 0 0 5px;
    margin:0;
    gap:20px;
    &__card {
        @include flex_row;
        @include justalign_center;
        position: relative;
        width: 100%;
        height: 85px;
        border-radius: 20px;
        background-color: #f8f8f8;
        box-shadow: 0px 0px 25px -6px rgba(112, 112, 112, 1);
        transition: all 0.2s;
        padding: 0px 30px;
        &:hover {
            transition: all 0.2s;
            background-color: #e6d7f7;
        }
        &:hover .fa-solid {
            color:map-get($color, primary-violet);
        }
        padding: 0px 30px;
        &__num {
            @include flex_row;
            @include justalign_center;
            position: absolute;
            left: -12px;
            font-weight: 500;
            font-size: 13px;
            color:white;
            min-width: 25px;
            height: 25px;
            background-color : map-get($color, primary-violet);
            border-radius: 25px;
        }
        &__text {
            @include flex_row;
            @include justalign_center;
            width: 250px ;
            gap: 20px;
            font-size: 16px;
            font-weight: 600;
            color:rgba(29, 29, 29, 0.918);
            i {
                @include flex_row;
                @include justalign_center;
                min-width: 10%;
            }
            p {
                width: 90%;
            }
        }
    }
    //
}

#index__section {
    @include flex_column;
    width: 100%;
    gap:20px;
    background-color: #f6f6f6;
    padding: 30px 7% 60px 7%;
    .section__main {
        @include flex_column;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 35px;
        width: 100%;
        padding:0px;
    }
}

.section__main__card {
    @include flex_column;
    flex-wrap: wrap;
    min-width: 315px;
    width: 100%;
    height: 240px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 0px 25px -6px rgba(112, 112, 112, 1);
    transition: all 0.2s;
    &:hover {
        transform: scale(1.04);
        transition: all 0.2s;
    }
    &__picture {
        height: 170px;
        > img {
            width: 100%;
            height: 100%;
            object-fit:cover;
            border-radius: 20px 20px 0 0;
        }
    }
    &__new {
        @include flex_column;
        @include justalign_center;
        right: 15px;
        top: 15px;
        width: 75px;
        height: 30px;
        border-radius: 5px;
        opacity: 0.9;
        background-color : map-get($color, tertiary-green);
        color:rgb(24, 73, 61);
        position: absolute;
    }
    &__descp {
        @include flex_row;
        justify-content: space-between;
        width: auto;
        height: 70px;
        color:black;
        padding: 0 3% 0 3%;
        &__titles {
            @include flex_column;
            justify-content: center;
            width: 95%;
            gap:3px;
        }
        &__icn {
            @include flex_column;
            @include justalign_center;
            font-size: 25px;
            i:hover{
                font-weight: bold;
                background: map-get($color, pink-gradient);
                -webkit-background-clip: text;
                // l'arrière plan est limite (rogné) au texte en premier plan donc l'icone)
                -webkit-text-fill-color: transparent;
                // défini la couleur utilisée pour dessiner le contenu des lettres. Par défaut c'est la propriété color 
            }
        }
    }
}
@media all and (min-width : 1150px) {
    
    .aside__helper {
        @include flex_row;
        // @include justalign_center;
        justify-content: space-between;
        gap:30px;
        &__card {
        width: 31%;
        }
    }
    #index__section {
        .section__main {
            @include flex-row;
            justify-content:space-between;
            align-items: stretch;
            row-gap:35px;
        }
    }
    .section__main__card {
        width: 48.5%;
    }
}


@media all and (min-width : 1670px) {
    aside {
        padding: 40px 10% 60px 10%;
    }
    #index__section {
        padding: 30px 10% 60px 10%;
        .section__main {
            @include flex_row;
        }
    }
    
    .section__main__card {
        width: 23%;
    }
}
