$color: (
    primary-violet: #9356DC,
    secondary-pink: #FF79DA,
    tertiary-green: #99E2D0,
    pink-gradient : linear-gradient(176deg, #ff79da 0%, #9356dc 100%),
);

@mixin flex_column {
    display: flex;
    flex-direction: column;
}

@mixin flex_row {
    display: flex;
    flex-direction: row;
}

@mixin justalign_center {
    justify-content: center;
    align-items: center;
}

@mixin animation_appear {
    animation: 1.5s appear;
    animation-fill-mode: forwards;
    visibility: hidden;
}

//// ANIMATIONS ////

@keyframes fadeout {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
        visibility: hidden;
    }
}
@keyframes rotation {
    from{   
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes buntop {
    0% {
    }
    35% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(0px);  
        height: 25px;
    }
    75% {
        transform: translateY(-4px);
    }
    100% {
        transform: translateY(0px); 
    }
}
@keyframes bunbot {
    0% {
    }
    35% {
        transform: translateY(10px);
    }
    60% {
        transform: translateY(0px);  
        height: 25px;
    }
    75% {
        transform: translateY(4px); 
    }
    100% {
        transform: translateY(0px); 
    }
}


